In [1]:
import pandas as pd
import numpy as np
import re
import os
import sys

#### Get reference file

In [5]:
articles_ref = pd.read_csv('dataset2/data/training_articles.csv')
articles_ref.head()

,sentence,class,confidence,file_names,links,source
0,Nauto raises $159M to fuel expansion of its au...,Funding,0.95000,20190723151921076867,https://techcrunch.com/2017/07/19/nauto-raises...,techcrunch
1,Mapbox hires former SAP and Twilio exec Roy Ng...,People,0.95000,20190724100513130954,https://venturebeat.com/2017/03/02/mapbox-hire...,venturebeat
2,Wellington Financial LP Provides US$24 Million...,Funding,0.68000,20190724094427251424,https://venturebeat.com/2017/06/12/wellington-...,venturebeat
3,Instagram on copying Snapchat: ìThis is the wa...,Other,0.98665,20190723160323331008,https://techcrunch.com/2017/05/16/to-clone-or-...,techcrunch
4,Health startup Buoy raises $6.7 million to inv...,Funding,0.95000,20190723150148355229,https://techcrunch.com/2017/08/09/health-start...,techcrunch

In [6]:
articles_ref.shape

(5593, 6)

In [4]:
articles_df = articles_ref.copy()
articles_df.drop(['confidence', 'links', 'source'], axis=1, inplace=True)
articles_df.head()

,sentence,class,file_names
0,Nauto raises $159M to fuel expansion of its au...,Funding,20190723151921076867
1,Mapbox hires former SAP and Twilio exec Roy Ng...,People,20190724100513130954
2,Wellington Financial LP Provides US$24 Million...,Funding,20190724094427251424
3,Instagram on copying Snapchat: ìThis is the wa...,Other,20190723160323331008
4,Health startup Buoy raises $6.7 million to inv...,Funding,20190723150148355229

#### Get content for each article

In [17]:
def get_content(file_name):
    if file_name.startswith('20190723'):  
        with open('dataset2/articles/{}'.format(file_name), 'r') as f:
            content = f.read()
    else:
        with open('dataset2/vb_articles/{}'.format(file_name), 'r') as f:
            content = f.read()
    
    ### remove the new lines and any extra white space
    content = re.sub('[\s]+', ' ', content)
    return content

In [23]:
articles_df['content'] = articles_df['file_names'].map(get_content)

In [24]:
articles_df.head()

,sentence,class,file_names,content
0,Nauto raises $159M to fuel expansion of its au...,Funding,20190723151921076867,"That’s where SoftBank’s interest lies, accordi..."
1,Mapbox hires former SAP and Twilio exec Roy Ng...,People,20190724100513130954,"Mapbox has expanded its management team, namin..."
2,Wellington Financial LP Provides US$24 Million...,Funding,20190724094427251424,Wellington’s True Growth Capital supports Exa...
3,Instagram on copying Snapchat: ìThis is the wa...,Other,20190723160323331008,“I think it would frankly be silly of us if we...
4,Health startup Buoy raises $6.7 million to inv...,Funding,20190723150148355229,The startup debuted in March of this year to t...

In [26]:
articles_df.to_csv('dataset2/data/articles_content.csv', index=False)

In [28]:
articles_df[articles_df['file_names']=='20190723145554252806']

,sentence,class,file_names,content
227,Palo Alto nonprofit Benetech wins a $42.5M Dep...,Funding,20190723145554252806,

In [3]:
data = pd.read_csv('dataset2/data/articles_content.csv')
data.head()

,sentence,class,file_names,content
0,Nauto raises $159M to fuel expansion of its au...,Funding,20190723151921076867,"That’s where SoftBank’s interest lies, accordi..."
1,Mapbox hires former SAP and Twilio exec Roy Ng...,People,20190724100513130954,"Mapbox has expanded its management team, namin..."
2,Wellington Financial LP Provides US$24 Million...,Funding,20190724094427251424,Wellington’s True Growth Capital supports Exa...
3,Instagram on copying Snapchat: ìThis is the wa...,Other,20190723160323331008,“I think it would frankly be silly of us if we...
4,Health startup Buoy raises $6.7 million to inv...,Funding,20190723150148355229,The startup debuted in March of this year to t...

In [4]:
data.shape

(5593, 4)

### Get All Training Examples

In [2]:
all_data = pd.read_csv('dataset2/data/all_training_articles.csv')
all_data.head()

,sentence,class,confidence,file_names,links,source
0,Gaming firm Razer seeks to raise over $600M in...,Funding,0.95000,20190723140705861720,https://techcrunch.com/2017/07/01/razer-hong-k...,techcrunch
1,Mendel.ai nabs $2 million to match cancer pati...,Other,0.51000,20190723140706461241,https://techcrunch.com/2017/07/01/mendel-ai-na...,techcrunch
2,These cities in Californiaís East Bay are raki...,Funding,0.86000,20190723140707133490,https://techcrunch.com/2017/07/01/these-east-b...,techcrunch
3,A walk around Station F with Emmanuel†Macron,Other,0.97300,20190723140707881516,https://techcrunch.com/2017/07/01/a-walk-aroun...,techcrunch
4,Crunch Report | Facebook Helps You Find†Wi-Fi,Other,0.96642,20190723140708566693,https://techcrunch.com/2017/06/30/crunch-repor...,techcrunch

In [3]:
def get_content(file_name):
    if file_name.startswith('20190723'):  
        with open('dataset2/articles/{}'.format(file_name), 'r') as f:
            content = f.read()
    else:
        with open('dataset2/vb_articles2/{}'.format(file_name), 'r') as f:
            content = f.read()
    
    ### remove the new lines and any extra white space
    content = re.sub('[\s]+', ' ', content)
    return content

In [4]:
all_data = all_data[~all_data['file_names'].isnull()]
all_data['content'] = all_data['file_names'].map(get_content)
all_data.head()

,sentence,class,confidence,file_names,links,source,content
0,Gaming firm Razer seeks to raise over $600M in...,Funding,0.95000,20190723140705861720,https://techcrunch.com/2017/07/01/razer-hong-k...,techcrunch,"The U.S.-based company, which traces its origi..."
1,Mendel.ai nabs $2 million to match cancer pati...,Other,0.51000,20190723140706461241,https://techcrunch.com/2017/07/01/mendel-ai-na...,techcrunch,He called his new system Mendel.ai after Grego...
2,These cities in Californiaís East Bay are raki...,Funding,0.86000,20190723140707133490,https://techcrunch.com/2017/07/01/these-east-b...,techcrunch,"Most Americans have never heard of Emeryville,..."
3,A walk around Station F with Emmanuel†Macron,Other,0.97300,20190723140707881516,https://techcrunch.com/2017/07/01/a-walk-aroun...,techcrunch,
4,Crunch Report | Facebook Helps You Find†Wi-Fi,Other,0.96642,20190723140708566693,https://techcrunch.com/2017/06/30/crunch-repor...,techcrunch,Written and Hosted by: Anthony Ha Filmed by: M...

### Bring in Funding Data

In [5]:
funding_data = pd.read_csv('dataset/data/all_data.csv')
funding_data.head()

,title,content,link,sources
0,Africa&#8217;s Talking joins Open Banking Nige...,Open Banking Nigeria has announced a partnersh...,https://blog.digestafrica.co/africas-talking-o...,DigestAfrica
1,Who will lead the African online privacy and d...,"According to Menabytes, Egyptian ride-hailing ...",https://blog.digestafrica.co/african-online-pr...,DigestAfrica
2,Facebook has finally decided to monetize the W...,After splashing over $19 Billion to acquire Wh...,https://blog.digestafrica.co/whatsapp-business...,DigestAfrica
3,How Uganda&#8217;s Startup Economy Fell Behind...,I am no thought leader when it comes to tech e...,https://blog.digestafrica.co/how-ugandas-start...,DigestAfrica
4,Tech hubs in Africa should focus on being what...,A recently released paper has recommended that...,https://blog.digestafrica.co/tech-hubs-in-afri...,DigestAfrica

In [6]:
funding_data.shape

(3166, 4)

In [7]:
finsmes = pd.read_csv('dataset/data/all_finsmes.csv')
finsmes.head()

,title,content,link,sources,class
0,Home Baking Company Foodstirs Closes Series A ...,"Foodstirs, a Los Angeles, CA-based home baking...",http://www.finsmes.com/2016/10/home-baking-com...,FinsmesUSA,Funding
1,Codementor Raises $1.2M in Funding\n,"Codementor, a Mountain View, CA-based marketpl...",http://www.finsmes.com/2015/08/codementor-rais...,FinsmesUSA,Funding
2,Clutter Raises $64m in Series C Funding\n,"Clutter, a Culver City, California-based on de...",http://www.finsmes.com/2017/06/clutter-raises-...,FinsmesUSA,Funding
3,Snaapiq Raises $180K in Seed Funding\n,"Snaapiq, a Washington D.C.-based platform for ...",http://www.finsmes.com/2014/11/snaapiq-raises-...,FinsmesUSA,Funding
4,"2103 Halo Report, Angel Investments and Valuat...",The 2013 Halo Report released today by The Ang...,http://www.finsmes.com/2014/03/2103-halo-repor...,FinsmesUSA,Other

In [8]:
digest = pd.read_csv('dataset/data/digestafrica.csv')
digest.head()

,title,content,link,sources
0,Africa&#8217;s Talking joins Open Banking Nige...,Open Banking Nigeria has announced a partnersh...,https://blog.digestafrica.co/africas-talking-o...,DigestAfrica
1,Who will lead the African online privacy and d...,"According to Menabytes, Egyptian ride-hailing ...",https://blog.digestafrica.co/african-online-pr...,DigestAfrica
2,Facebook has finally decided to monetize the W...,After splashing over $19 Billion to acquire Wh...,https://blog.digestafrica.co/whatsapp-business...,DigestAfrica
3,How Uganda&#8217;s Startup Economy Fell Behind...,I am no thought leader when it comes to tech e...,https://blog.digestafrica.co/how-ugandas-start...,DigestAfrica
4,Tech hubs in Africa should focus on being what...,A recently released paper has recommended that...,https://blog.digestafrica.co/tech-hubs-in-afri...,DigestAfrica

In [9]:
disrupt = pd.read_csv('dataset/data/disruptafrica.csv')
disrupt.head()

,title,content,link,sources
0,Apply now for Mastercard Start Path\n,Applications are open to the next cohort of th...,http://disrupt-africa.com/2017/06/apply-now-fo...,DisrupttAfrica
1,African startups tapping the huge potential of...,The “African insurance market” is barely worth...,http://disrupt-africa.com/2019/01/african-star...,DisrupttAfrica
2,HiiL opens Innovating Justice Challenge for Af...,"The HiiL Justice Accelerator, together with th...",http://disrupt-africa.com/2016/05/hiil-opens-i...,DisrupttAfrica
3,Want to scale your startup to Korea? Here’s how\n,The South Korean government is inviting applic...,http://disrupt-africa.com/2016/05/want-to-scal...,DisrupttAfrica
4,GroFin secures $10m USAID grant to back East A...,Pan-African development financier GroFin has r...,http://disrupt-africa.com/2017/10/grofin-secur...,DisrupttAfrica

In [10]:
print('Finsmes length: {}'.format(finsmes.shape[0]))
print('Digest length: {}'.format(digest.shape[0]))
print('Disrupt length: {}'.format(disrupt.shape[0]))

Finsmes length: 27727
Digest length: 784
Disrupt length: 2382

In [11]:
def is_funding(cell):
    match_fund = re.search(r'fund|raise|secures', cell)
    match_exit = re.search(r'buy|acquire', cell)
    
    if match_fund:
        return 'Funding'
    elif match_exit:
        return 'Acquire'
    else:
        return 'Other'

In [12]:
digest['class']= digest['link'].map(is_funding)

In [13]:
disrupt['class'] = disrupt['link'].map(is_funding)

#### Combine the three data sets

In [14]:
combined_data = pd.concat([finsmes, digest, disrupt], axis=0)
combined_data.shape

(30893, 5)

In [15]:
combined_data[combined_data['class']=='Funding'].shape

(19446, 5)

In [16]:
all_data[all_data['class']=='Other'].shape

(13800, 7)

In [17]:
all_data2 = all_data.copy()
all_data2 = all_data2[['sentence', 'content', 'links', 'source', 'class']]
all_data2.head()

,sentence,content,links,source,class
0,Gaming firm Razer seeks to raise over $600M in...,"The U.S.-based company, which traces its origi...",https://techcrunch.com/2017/07/01/razer-hong-k...,techcrunch,Funding
1,Mendel.ai nabs $2 million to match cancer pati...,He called his new system Mendel.ai after Grego...,https://techcrunch.com/2017/07/01/mendel-ai-na...,techcrunch,Other
2,These cities in Californiaís East Bay are raki...,"Most Americans have never heard of Emeryville,...",https://techcrunch.com/2017/07/01/these-east-b...,techcrunch,Funding
3,A walk around Station F with Emmanuel†Macron,,https://techcrunch.com/2017/07/01/a-walk-aroun...,techcrunch,Other
4,Crunch Report | Facebook Helps You Find†Wi-Fi,Written and Hosted by: Anthony Ha Filmed by: M...,https://techcrunch.com/2017/06/30/crunch-repor...,techcrunch,Other

In [18]:
all_data2.columns = finsmes.columns
all_data2.head(3)

,title,content,link,sources,class
0,Gaming firm Razer seeks to raise over $600M in...,"The U.S.-based company, which traces its origi...",https://techcrunch.com/2017/07/01/razer-hong-k...,techcrunch,Funding
1,Mendel.ai nabs $2 million to match cancer pati...,He called his new system Mendel.ai after Grego...,https://techcrunch.com/2017/07/01/mendel-ai-na...,techcrunch,Other
2,These cities in Californiaís East Bay are raki...,"Most Americans have never heard of Emeryville,...",https://techcrunch.com/2017/07/01/these-east-b...,techcrunch,Funding

### Combine all Funding and Other

In [19]:
all_data2[all_data2['class']=='Funding'].shape

(2055, 5)

In [20]:
funding_df = pd.concat([all_data2[all_data2['class']=='Funding'], combined_data[combined_data['class']=='Funding']], axis=0)
other_df = pd.concat([all_data2[all_data2['class']=='Other'], combined_data[combined_data['class']=='Other']], axis=0)

In [21]:
funding_df.shape, other_df.shape

((21501, 5), (23512, 5))

In [22]:
dataset = pd.concat([funding_df, other_df], axis=0)
dataset = dataset.sample(frac=1)

In [23]:
dataset.columns = ['title', 'content', 'link', 'source', 'class']
dataset.reset_index(drop=True, inplace=True)
dataset.head()

,title,content,link,source,class
0,Tibit Communications Raises $20M in Series B F...,"Tibit Communications, Inc., a Petaluma, CA-bas...",http://www.finsmes.com/2019/04/tibit-communica...,FinsmesUSA,Funding
1,Twitter blames human error after blocking a Ne...,"Over the holiday weekend, The New York Times f...",https://techcrunch.com/2017/11/27/twitter-blam...,techcrunch,Other
2,SimplyCook Raises £4.5M in Series A Funding\n,"SimplyCook, a London, UK-based recipe kit serv...",http://www.finsmes.com/2019/01/simplycook-rais...,FinsmesUK,Funding
3,Moogsoft Secures $40M in Series D Funding\n,"Moogsoft, a San Francisco, CA-based provider o...",http://www.finsmes.com/2018/03/moogsoft-secure...,FinsmesUSA,Funding
4,Zeta Global acquires commenting service†Disqus,A source close to the two companies tells us t...,https://techcrunch.com/2017/12/05/zeta-global-...,techcrunch,Other

In [25]:
dataset.to_csv('dataset/data/articles_dataset.csv', index=False)

In [24]:
dataset.shape

(45013, 5)